<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style="background-repeat: inherit; background-color:blue">DjangoForms</h1>
        <form method="POST" style="background-color: orange; color:red">
            {% csrf_token %}
            {{WTO.as_p}}
            <input type="submit" value="SUBMIT" style="color: orange;">
        </form>
    </center>
</body>
</html>